.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.filter-btn {
    color: red;
}

.box {
    background: rgb(120, 132, 210);
    color:aliceblue;
}

.logo {
    border-radius: 150 / 2;
}

.order-panel {
    margin-block: 2rem;
    display: flex;
    justify-content: left;
}